.main-container {
  background-color: #161624;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-heading {
  color: #ffffff;
  font-family: roboto;
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}
.countries-list-container {
  background-color: #1f1f2f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  width: 90%;
  max-width: 40vh;
  overflow-y: scroll;
  margin: 10px;
  margin-left: 30px;
}
.not-visited {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
  align-self: center;
  text-align: center;
}
.visited-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 0px;
  padding: 10px;
  width: 90%;
  margin: 5px;
  margin-left: 30px;
  max-height: 50vh;
  overflow-y: scroll;
}
